h1 {
	font-size: 28px;
  }

  .container {
    background-color: #efeee7;
     color: #333333;
    padding: 0px;
  }

  .main {
    text-align: center;

  .styledFont {
	font-family: "Times New Roman", Times, serif;
}

div {
	border: 2px solid black;
	background-color: #efeee7;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
  }
  .css body div {
    margin: 0px; Padding:0;
    background-color: #efeee7;
  }

  h2 {
    font-size: 24px;
  }