h1 {
	font-size: 28px;
  }

#centered_text {
	text-align: center;
}

.bolder_text {
	font-weight: bolder;
}

#different_font {
	font-family: Verdana, sans-serif;
}

.orange {
	color: #333333;
}


.styledFont {
	font-family: "Times New Roman", Times, serif;
}

#styledImage {
	border-style: dotted dashed solid double;
	border-width: 10px 12px 15px 25px;
	border-color: red green blue rgb(20, 13, 1);
}


